/* STICKY FOOTER START */
body {
  display: flex;
  flex-direction: column;
  line-height: 130%;
}

h3 {
  line-height: 110%;
}

p {
  line-height: 130%;
  max-width: 600px;
}

ul,
li {
  color: white;
  font-size: 14px;
}

li {
  padding-top: 20px;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

/*HEADER START*/
.fb-text {
  text-decoration: none !important;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
.icon-navlink {
  gap: 10px;
  min-width: 50px;
}

.icon-navlink:hover {
  opacity: 0.5;
}
/*HEADER END*/

/*FOOTER START*/
.footer a {
  text-decoration: none;
}

.section-3,
.section {
  flex: 1 0 auto;
}

h2 {
  text-align: center;
}
footer {
  flex-shrink: 0;
}

img.footer-image {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}
/* STICKY FOOTER END*/

/* HERO FRONT PAGE START*/
.hero {
  margin-top: -110px;
}

.hero-content {
  margin: 0 !important;
}

body.home h1 {
  line-height: 100%;
  text-align: center;
}

body.home .hero p {
  max-width: 600px;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 40px;
}

.frontpage .wp-container-1 .wp-block-button .wp-block-button__link {
  height: 70px;
}

/* HERO FRONT PAGE END*/

/* Text paragraph size */
.content.pages {
  max-width: 600px;
  padding-bottom: 3rem;
}

/* SERVICE TEMPLATE START */
.services-posts,
.news-posts,
.projects-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  gap: 20px;
  margin-bottom: 40px;
}

.service-wrapper,
.news,
.project-wrapper {
  max-width: 100%;
  max-height: 200px;
  border: rgb(115, 115, 115) solid 1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100%;
  min-width: 100%;
  max-height: 300px;
  max-width: 300px;
  position: absolute;
  z-index: 1;
}

.service-card,
.project-card {
  min-height: 200px;
  border: rgb(115, 115, 115) solid 1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(74, 74, 74);
}

.service-card {
  margin-top: -1px;
}

.service-title,
.project-title {
  text-align: center;
}

.service-image,
.news-image,
.project-image {
  min-width: 300px !important;
  height: auto;
  position: relative;
  margin: 0;
  z-index: 0;
}

.project-description,
.service-description {
  margin-left: 20px;
  margin-right: 20px;
}

.news-title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}
/* SERVICE TEMPLATE END */

.gf_browser_chrome.gform_wrapper.gravity-theme {
  max-width: 500px;
  margin: 0 auto;
}

.artikkel-bilde-tekst {
  margin-left: 0;
}

.wp-block-image {
  border: rgb(115, 115, 115) solid 1px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #4a4a4a;
  max-height: 100%;
}

.pages .wp-block-image {
  max-width: 350px;
}

.pages .wp-block-media-text__media {
  display: flex;
}

figcaption {
  display: block;
  font-size: 14px;
  text-align: left;
  margin: 10px;
}

.wp-block-post-featured-image {
  margin-bottom: 2rem;
}

.wp-block-button__link {
  display: table-cell !important;
  vertical-align: middle;
}

.wp-block-columns {
  margin-left: -200px;
  margin-right: -200px;
  margin-top: 20px;
}

.wp-block-column {
  display: flex;
}

/* FORMS*/
body .gform_wrapper .gform_title {
  display: none !important;
}

.gform_wrapper.gravity-theme .label-radio-images .gfield-choice-input {
  display: none;
}

.gravity-theme .label-radio-images .ginput_container {
  margin-left: -200px;
  margin-right: -200px;
}

.gravity-theme .label-radio-images .gfield_radio {
  justify-content: center;
}

.gravity-theme .label-radio-images .gfield_radio label {
  padding: 10px;
  display: flex !important;
  position: relative;
  margin: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px;
  vertical-align: bottom !important;
  align-items: flex-end;
  justify-content: center;
  background-size: 200px 100px;
  background-position: 50%;
  background-repeat: no-repeat;
}

#input_4_1 {
  display: flex;
  flex-wrap: wrap;
}

label:hover {
  cursor: pointer !important;
}

#label_4_1_0 {
  background-image: url(../images/hundekasser.svg);
}

#label_4_1_1 {
  background-image: url(../images/bilinnredning.svg);
}

#label_4_1_2 {
  background-image: url(../images/lys.svg);
}

#label_4_1_3 {
  background-image: url(../images/anlegg.svg);
}

#label_4_1_0:hover,
:checked + #label_4_1_0 {
  background-image: url(../images/hundekasser-active.svg);
}

#label_4_1_1:hover,
:checked + #label_4_1_1 {
  background-image: url(../images/bilinnredning-active.svg);
}

#label_4_1_2:hover,
:checked + #label_4_1_2 {
  background-image: url(../images/lys-active.svg);
}

#label_4_1_3:hover,
:checked + #label_4_1_3 {
  background-image: url(../images/anlegg-active.svg);
}

.gravity-theme .label-radio-images :checked + label {
  transform: scale(0.9);
}

.gravity-theme .label-radio-images .gfield_radio .gchoice {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  background-color: #333;
  border-radius: 5px;
}

.gravity-theme .label-radio-images .gfield_radio .gchoice:hover {
  transform: scale(0.9);
  box-shadow: 0 0 5px rgb(28, 28, 28);
  background-color: #333;
  border-radius: 5px;
}

.gravity-theme .label-single-choice .gfield_radio {
  display: flex;
}

.gravity-theme .label-single-choice .gfield_radio input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 5px;
  margin-left: 20px;
  /* background-color only for content */
  background-clip: content-box;
  border: 3px solid #bbbbbb;
  border-radius: 50%;
}

.gravity-theme .label-multiple-choice .gfield_checkbox input[type="checkbox"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 2px;

  /* background-color only for content */
  background-clip: content-box;
  border: 3px solid #bbbbbb;
  /* border-radius: 50%; */
}

/* appearance for checked radiobutton */
.gravity-theme .label-single-choice .gfield_radio input[type="radio"]:checked,
.gravity-theme
  .label-multiple-choice
  .gfield_checkbox
  input[type="checkbox"]:checked {
  background-color: #e6b25f;
}

.gravity-theme .label-multiple-choice .gchoice {
  margin-bottom: 10px;
}

.gravity-theme .label-multiple-choice .gchoice label {
  padding-left: 20px;
}

.gravity-theme .ginput_container input,
.gravity-theme .ginput_container textarea {
  border-radius: 5px;
  color: black;
}

.gravity-theme .ginput_container input:focus {
  color: black;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 50%;
}
/*FORMS END*/

/* Fixing  width to specific tilbehør page*/
.single.single-tjenester.postid-414 .wp-block-columns {
  margin-left: auto !important;
  margin-right: auto !important;
}
/* HERE IS THE START OF RESPONSIVE MEDIA STYLING*/

.content.w-container.button-wrapper .wp-block-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 991px) {
  .nav-link {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .icon-navlink {
    padding: 10px 10px 10px;
    font-size: 15px;
  }

  .fb-text {
    display: none;
  }

  .nav-link.last-child {
    padding-right: 20px;
  }

  .services-posts,
  .news-posts,
  .projects-posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .hero h1 {
    margin-top: 140px;
  }
  label {
    font-size: 20px !important;
    font-weight: 400 !important;
  }
  .services-posts,
  .news-posts,
  .projects-posts {
    grid-template-columns: 1fr;
  }

  .service-wrapper,
  .news,
  .project-wrapper {
    max-height: 400px;
  }

  .service-image,
  .news-image,
  .project-image {
    top: 0;
  }

  .wp-block-columns {
    margin-left: auto;
    margin-right: auto;
  }

  .wp-block-button__link {
    font-size: 16px !important;
  }

  /* SLider */

  .metaslider {
    margin-bottom: 50px !important;
  }

  .rslides {
    max-height: 170px !important;
    overflow: hidden;
  }

  .gravity-theme .label-radio-images .gfield_radio label {
    width: 200px;
    height: 250px;
  }

  .gravity-theme .label-radio-images .ginput_container {
    margin-left: 0;
    margin-right: 0;
  }

  .pages .wp-block-image {
    max-width: 100%;
  }

  /* Fixing  width to specific tilbehør page*/
  .single.single-tjenester.postid-414 .wp-block-columns .wp-block-image {
    min-width: 100%;
  }

  .single.single-tjenester.postid-414 .wp-block-columns .wp-block-image img {
    min-width: 100%;
  }
}
